
<%- partial('_partial/index/a-pollo-release') %>

<article class="miniml--limit miniml--padding-top">

  <div class="miniml__row">
    <div class="miniml__col-half">
      <%- partial('_partial/index/team') %>
      <%- partial('_partial/index/time') %>
    </div>
    <div class="miniml__col-half">
      <%- partial('_partial/index/map') %>
    </div>
  </div>

<hr>

<h4>Project stats</h4>

<p>
  <strong>Time</strong><br>
  <i class="fa fa-clock-o"></i>&nbsp; Started on
  <b><%= config.stats.date.begin %></b>
  <br>
  <i class="fa fa-flag-checkered"></i>&nbsp; Last edit on
  <b><%= config.stats.date.end %></b>
  <br>
  <i class="fa fa-hourglass-3"></i>&nbsp;
  <b>
    <% if (config.stats.date.total.years !== '0 years') { %>
      <%= config.stats.date.total.years %>,
    <% } %>
    <% if (config.stats.date.total.months !== '0 months') { %>
      <%= config.stats.date.total.months %>,
    <% } %>
    <% if (config.stats.date.total.days !== '0 days') { %>
      <%= config.stats.date.total.days %>
    <% } %>
  </b>
  <% if (config.stats.date.total.years === '0 years' && config.stats.date.total.months === '0 months' && config.stats.date.total.days === '0 days') { %>
    The project started today
  <% } else { %>
    of lifetime &nbsp;<span title="<%= config.stats.date.days %> days total, <%= config.stats.date.business %> business days">
      <i class="fa fa-question-circle"></i>
    </span>
  <% } %>
  <br>
  <i class="fa fa-code"></i>&nbsp;
  <b>
    <%= config.stats.snippet.days %>
    day/s
  </b>
  of effective development &nbsp;<span title="Based on snippet dates entries, without duplicates">
    <i class="fa fa-question-circle"></i>
  </span>
  <br>
  <i class="fa fa-pie-chart"></i>&nbsp;
  <b>
    <%= config.stats.snippet.activity %>%
  </b>
  of activity &nbsp;<span title="Ratio between snippet dates entries (<%= config.stats.snippet.days %>) and project business days (<%= config.stats.date.business %>)">
    <i class="fa fa-question-circle"></i>
  </span>
</p>

<p>
  <strong>Files</strong><br>
  <i class="fa fa-cubes"></i>&nbsp;
  <b><%= config.stats.snippet.count %></b>
  created<br>
  <i class="fa fa-tv"></i>&nbsp;
  <b><%= config.stats.snippet.countExamples %></b>
  displayed<br>
</p>

<% if (config.libs !== undefined) { %>
  <hr>

  <h4>Code libraries</h4>

  <p>
    This is a list of the code libraries included in the project.
  </p>

  <% if (config.libs.bowerDependencies !== undefined) { %>
    <p>
      <ul>
        <li class="apollo-post__list-title">
          <a href="http://bower.io" target="blank" class="apollo-logo-lib apollo-logo-lib--bower"></a>
          <strong>Bower</strong>
        </li>
        <% for(var key in config.libs.bowerDependencies) { %>
          <li>
            <b><%= key %></b>
            <%= config.libs.bowerDependencies[key] %></li>
        <% } %>
      </ul>
    </p>
  <% } %>

  <% if (config.libs.nodeDependencies !== undefined) { %>
    <p>
      <ul>
        <li class="apollo-post__list-title">
          <a href="http://nodejs.org" target="blank" class="apollo-logo-lib apollo-logo-lib--nodejs"></a>
          <strong>Node</strong>
        </li>
        <% for(var key in config.libs.nodeDependencies) { %>
          <li>
            <b><%= key %></b>
            <%= config.libs.nodeDependencies[key] %></li>
        <% } %>
      </ul>
    </p>
  <% } %>
<% } %>

</article>
