<article class="apollo-post apollo-post--padded">
    <% if (config.header && config.header.logo) { %>
        <%- partial('_partial/doc-header', { header: config.header }) %>
    <% } %>

    <h1>Project details</h1>

    <i class="fa fa-user-secret"></i>&nbsp; Project for <span class="apollo-post__markown-inline"><%- markdown(config.client) %></span><br>
    <i class="fa fa-pencil"></i>&nbsp; Developed by <span class="apollo-post__markown-inline"><%- markdown(config.developers) %></span><br>
    <i class="fa fa-paint-brush"></i>&nbsp; Designed by <span class="apollo-post__markown-inline"><%- markdown(config.designers) %></span>

    <hr>

    <h4>Project stats</h4>

    <p>
        <strong>Time</strong><br>
        <i class="fa fa-clock-o"></i>&nbsp; Started on <b><%= config.stats.date %></b><br>
        <i class="fa fa-flag-checkered"></i>&nbsp; Last edit on <b><%= config.stats.widgetLastDate %></b><br>
        <i class="fa fa-hourglass-3"></i>&nbsp;
            <b>
                <% if (config.stats.dateDuration.years !== '0 years') { %>
                    <%= config.stats.dateDuration.years %>,
                <% } %>
                <% if (config.stats.dateDuration.months !== '0 months') { %>
                    <%= config.stats.dateDuration.months %>,
                <% } %>
                <% if (config.stats.dateDuration.date !== '0 days') { %>
                    <%= config.stats.dateDuration.date %>
                <% } %>
            </b>
            <% if (config.stats.dateDuration.years === '0 years' && config.stats.dateDuration.months === '0 months' && config.stats.dateDuration.date === '0 days') { %>
                The project started today
            <% } else { %>
                in development
            <% } %>
    </p>

    <p>
        <strong>Files</strong><br>
        <i class="fa fa-cubes"></i>&nbsp; <b><%= config.stats.widgetsTotal %></b> created<br>
        <i class="fa fa-tv"></i>&nbsp; <b><%= config.stats.widgetExamplesTotal %></b> displayed<br>
    </p>

    <% if (config.libs !== undefined) { %>
        <hr>

        <h4>Code libraries</h4>

        <p>
            This is a list of the code libraries included in the project.
        </p>

        <% if (config.libs.bowerDependencies !== undefined) { %>
            <p>
                <ul>
                    <li class="apollo-post__list-title"><strong>Bower</strong></li>
                    <% for(var key in config.libs.bowerDependencies) { %>
                        <li><b><%= key %></b> <%= config.libs.bowerDependencies[key] %></li>
                    <% } %>
                </ul>
            </p>
        <% } %>

        <% if (config.libs.nodeDependencies !== undefined) { %>
        <p>
            <ul>
                <li class="apollo-post__list-title"><strong>Node</strong></li>
                <% for(var key in config.libs.nodeDependencies) { %>
                    <li><b><%= key %></b> <%= config.libs.nodeDependencies[key] %></li>
                <% } %>
            </ul>
        </p>
        <% } %>
    <% } %>


</article>
