<main class="main">
  <h1 class="snippet__title">
    {{ title }}
  </h1>
  {% for annotation in annotations %}
      {% if loop.first %}
        <div class="snippet__info-item">
          <div class="snippet__info-title">
            Category
          </div>
          {{ category }}
        </div>

        <div class="snippet__info-item">
          <div class="snippet__info-title">
            Source
          </div>
          <div title="{{ annotation.path.relative }}/{{ annotation.path.base }}">
            {{ annotation.path.base }}
          </div>
        </div>

        {% include 'date.twig' %}
      {% endif %}

      {% include 'snippet/item.twig' %}
  {% endfor %}
  {{ contents }}
</main>
