<section class="miniml-a-pollo-release">
  <article class="miniml--limit">
    <div class="miniml-a-pollo-release__logo"></div>
    <div class="miniml-a-pollo-release__info">
      <div class="miniml-a-pollo-release__title">
        a-pollo
      </div>
      <div class="miniml-a-pollo-release__desc">
        A sharing tool for your team's CSS styles
      </div>
      <ul class="miniml-a-pollo-release__details">
        <li class="miniml-a-pollo-release__details-item">
          <i class="fa fa-code-fork miniml-a-pollo-release__details-icon"></i>
          <a class="miniml-a-pollo-release__text miniml-a-pollo-release__text--marked"
            href="<%= config.apollo.homepage %>/releases/tag/<%= config.apollo.version %>">
            <%= config.apollo.version %>
          </a>
        </li>
        <li class="miniml-a-pollo-release__details-item">
          <i class="fa fa-github-alt miniml-a-pollo-release__details-icon"></i>
          <a class="miniml-a-pollo-release__text"
            href="<%= config.apollo.homepage %>#readme">
            GitHub
          </a>
        </li>
        <li class="miniml-a-pollo-release__details-item">
          <i class="fa fa-code miniml-a-pollo-release__details-icon"></i>
          <a class="miniml-a-pollo-release__text"
            href="https://www.npmjs.com/package/a-pollo">
            NPM
          </a>
        </li>
        <li class="miniml-a-pollo-release__details-item">
          <i class="fa fa-bug miniml-a-pollo-release__details-icon"></i>
          <a class="miniml-a-pollo-release__text"
            href="<%= config.apollo.homepage %>/issues">
            Report bugs
          </a>
        </li>
        <li class="miniml-a-pollo-release__details-item">
          <i class="fa fa-home miniml-a-pollo-release__details-icon"></i>
          <a class="miniml-a-pollo-release__text"
            href="http://vitto.github.io/a-pollo/">
            Homepage
          </a>
        </li>
        <li class="miniml-a-pollo-release__details-item">
          <i class="fa fa-suitcase miniml-a-pollo-release__details-icon"></i>
          <a class="miniml-a-pollo-release__text"
            href="https://www.ideato.it">
            coded @ ideato
          </a>
        </li>
        <li class="miniml-a-pollo-release__details-item">
          <i class="fa fa-coffee miniml-a-pollo-release__details-icon"></i>
          <a class="miniml-a-pollo-release__text"
            href="http://vit.to">
            by vitto
          </a>
        </li>
      </ul>
    </div>
  </article>
</section>
