<div class="miniml-map__labels">
  <div class="miniml-map__label miniml-map__label--category">
    <div>
      <div>
        <span class="miniml-map-dot miniml-map-dot--label miniml-map-dot--no-margin miniml-map-dot--category-snippet">
          <% var categories = 0; %>
          <% elements.each(function(element, i) { %>
            <% if (element.posts.data[0].layout === 'snippet') { %>
              <% categories += 1; %>
            <% } %>
          <% }) %>
          <%= categories %>
          <span class="miniml-tip">
            snippet
          </span>
        </span>
        <span class="miniml-map-dot miniml-map-dot--label miniml-map-dot--no-margin miniml-map-dot--category-doc">
          <% categories = 0; %>
          <% elements.each(function(element, i) { %>
            <% if (element.posts.data[0].layout === 'doc') { %>
              <% categories += 1; %>
            <% } %>
          <% }) %>
          <%= categories %>
          <span class="miniml-tip">
            doc
          </span>
        </span>
      </div>
      <div>
          Categories
      </div>
    </div>
  </div>
  <div class="miniml-map__label miniml-map__label--snippet">
    <div>
      <div>
        <span class="miniml-map-dot miniml-map-dot--label miniml-map-dot--no-margin miniml-map-dot--snippet">
          <%= config.stats.snippet.count %>
        </span>
      </div>
      <div>
        <% if(config.stats.snippet.count === 1) { %>
          Snippet
        <% } else { %>
          Snippets
        <% } %>
      </div>
    </div>
  </div>
  <div class="miniml-map__label miniml-map__label--example">
    <div>
      <div>
        <span class="miniml-map-dot miniml-map-dot--label miniml-map-dot--no-margin miniml-map-dot--example">
          <%= config.stats.snippet.countExamples %>
        </span>
      </div>
      <div>
        <% if(config.stats.snippet.countExamples === 1) { %>
          Example
        <% } else { %>
          Examples
        <% } %>
      </div>
    </div>
  </div>
  <div class="miniml-map__label miniml-map__label--page">
    <div>
      <div>
        <span class="miniml-map-dot miniml-map-dot--label miniml-map-dot--no-margin miniml-map-dot--page">
          <% var pagesTotal = 0 %>
          <% site.pages.each(function(element, i){ %>
            <% if(element.layout === 'page') { pagesTotal += 1; } %>
          <% }) %>
          <% if(pagesTotal > 0) { %>
            <%= pagesTotal %>
          <% } %>
        </span>
      </div>
      <div>
        <% if(pagesTotal === 1) { %>
          Page
        <% } else { %>
          Pages
        <% } %>
      </div>
    </div>
  </div>
  <div class="miniml-map__label miniml-map__label--doc">
    <div>
      <div>
        <span class="miniml-map-dot miniml-map-dot--label miniml-map-dot--no-margin miniml-map-dot--doc"></span>
      </div>
      <div>
          Docs
      </div>
    </div>
  </div>
</div>
