<footer class="miniml-footer">
  <div>
    <% var rootPath = config.root || ''; %>
    <% if (config.apollo) {
            var homepage = config.apollo.homepage || 'https://github.com/vitto/a-pollo#readme';
        } %>
    <a href="<%= homepage %>" class="apollo-logo">
      <% if (config.footer && config.footer.logo) { %>
        <div class="apollo-logo__icon" style="background-image:url(<%= rootPath %>img/<%= config.footer.logo %>);"></div>
      <% } else { %>
        <div class="apollo-logo__icon" style="background-image:url(<%= rootPath %>img/a-pollo-logo.svg);"></div>
      <% } %>
    </a>
  </div>
  <div class="apollo-footer__left-column">
    <p class="apollo-footer__paragraph">
      <% if (config.footer && config.footer.description) { %>
        <%- config.footer.description %>&nbsp;
      <% } else { %>
        The visual CSS style guide for teams
      <% } %>
    </p>
  </div>
  <div class="apollo-footer__right-column">
    <p class="apollo-footer__paragraph">
      <% if (config.apollo) { %>
        <a href="<%= homepage %>" class="apollo-footer__link">
          <i class="fa fa-code"></i>
        </a>
      <% } %>
      with
      <i class="fa fa-heart apollo-footer__heart"></i>
      by
      <a href="http://vit.to" class="apollo-footer__link">vitto</a>
      @
      <a href="http://www.ideato.it" class="apollo-footer__link">ideato</a>
    </p>
  </div>
</footer>
