<h3 class="miniml__title">
  Map
</h3>
<hr class="miniml__hr">

<div class="miniml-map">

  <%- partial('_partial/index/map__labels') %>

  <div class="miniml-map__dots">
    <%- partial('_partial/index/map__dots--category-snippet', {
      elements: site.tags,
      preview: 'tip'
    }) %>

    <%- partial('_partial/index/map__dots--snippet', {
      elements: site.posts,
      preview: 'tip'
    }) %>

    <%- partial('_partial/index/map__dots--example', {
      elements: site.posts,
      preview: 'tip'
    }) %>

    <%- partial('_partial/index/map__dots--page', {
      elements: site.pages,
      preview: 'tip'
    }) %>

    <%- partial('_partial/index/map__dots--category-doc', {
      elements: site.tags,
      preview: 'tip'
    }) %>

    <%- partial('_partial/index/map__dots--doc', {
      elements: site.posts,
      preview: 'tip'
    }) %>
  </div>

  <div class="miniml-map__labels miniml-map__labels--m-top">
    <div class="miniml-map__label">
      <div>
        <div>
          <span class="miniml-map-dot miniml-map-dot--no-margin miniml-map-dot--latest"></span>
        </div>
        <div>
            Latest additions
        </div>
      </div>
    </div>
  </div>
</div>
