<% elements.each(function(element, j){ %>
  <% var prev = ''; %>
  <% for (var i = 0; i < element.annotations.length; i += 1) { %>
    <% var annotation = element.annotations[i]; %>
    <% if (annotation.isSnippet) { %>

      <% if (prev !== element.title) { %>
        <% if (j > 0) { %>
          </span>
        <% } %>
        <% var prev = element.title; %>
        <span class="miniml-map__group">
      <% } %>

      <% var latestSelector = ''; %>
      <% if (config.stats.date.endValue === annotation.latestDate) { %>
         <% latestSelector = 'miniml-map-dot--latest' %>
      <% } %>

      <div class="miniml-map-dot miniml-map-dot--example <%= latestSelector %>">
        <span class="miniml-tip">
          <%= annotation.name %>
          <% if (element.title !== annotation.name) { %>
            <span class="miniml-tip__type">(<%= element.title %>)</span>
          <% } %>
        </span>
        <div class="miniml-snippet-example-preview">
          <div class="miniml-snippet-example-preview__links">
            <a class="miniml-snippet-example-preview__link" href="<%= element.permalink %>#<%- slugify(annotation.name) %>">Copy</a>
            <a class="miniml-snippet-example-preview__link" href="<%= element.permalink %>#<%- slugify(annotation.name) %>">Example page</a>
          </div>
          <div class="miniml-snippet-example-preview__preview">
              <%- annotation.html %>
          </div>
        </div>
      </div>
    <% } %>
  <% } %>
<% }) %>
</span>
