<article class="apollo-post apollo-post--padded">
    <% if (config.header && config.header.logo) { %>
        <%- partial('_partial/doc-header', { header: config.header }) %>
    <% } %>
    <% if (!config.use_markdown && post.docs) {
        _.each(post.docs, function(doc, i) {
            if (i === 0) { %>
                <%- partial('_partial/widget-header', { doc: doc, id:i }) %>
            <% } else { %>
                <%- partial('_partial/widget', { doc: doc, id:i }) %>
            <% }
        }); %>
        <br>
        <p>
            <strong>Total examples</strong> <%= post.docs.length %>
        </p>
    <% } else { %>
        <!-- this should be removed -->
        <%- markdown(post.content) %>
    <% } %>
</article>
