<footer class="apollo-footer">
    <div>
        <% if (config.footer && config.footer.logo) { %>
            <%- config.footer.logo %>
        <% } else { %>
            <a href="<%- config.apollo.homepage %>#readme" class="apollo-logo">
                <img width="80px" src="/img/apollo-logo__icon.svg">
                <div class="apollo-logo__text">a-pollo</div>
            </a>
        <% } %>
    </div>
    <div class="apollo-footer__left-column">
        <p class="apollo-footer__paragraph">
            <% if (config.footer && config.footer.leftText) { %>
                <%- config.footer.leftText %>
            <% } else { %>
                The visual CSS style guide for teams
            <% } %>
        </p>
    </div>
    <div class="apollo-footer__right-column">
        <p class="apollo-footer__paragraph">
            <% if (config.footer && config.footer.rightText) { %>
                <%- config.footer.rightText %>
            <% } else { %>
                <a href="<%- config.apollo.homepage %>#readme" class="apollo-footer__link">
                    <i class="fa fa-code"></i>
                </a>
                with <i class="fa fa-heart apollo-footer__heart"></i>
                by <a href="http://vit.to" class="apollo-footer__link">vitto</a>
                @ <a href="http://www.ideato.it" class="apollo-footer__link">ideato</a>
            <% } %>
        </p>
    </div>
</footer>
