<nav>
    <ul class="apollo-menu apollo-menu--first">
        <li class="apollo-menu__title">
            a-pollo
        </li>
        <li class="apollo-menu__item">
            <a href="https://github.com/vitto/a-pollo/releases/tag/<%- config.apolloVersion %>" class="apollo-menu__link">
                <i class="fa fa-code-fork"></i>&nbsp; Version <%- config.apolloVersion %>
            </a>
        </li>
        <li class="apollo-menu__item">
            <a href="https://github.com/vitto/a-pollo" class="apollo-menu__link">
                <i class="fa fa-github-alt"></i>&nbsp; GitHub
            </a>
        </li>
        <li class="apollo-menu__item">
            <a href="https://www.npmjs.com/package/a-pollo" class="apollo-menu__link">
                <i class="fa fa-code"></i>&nbsp; npm
            </a>
        </li>
        <li class="apollo-menu__item">
            <a href="https://www.ideato.it" class="apollo-menu__link">
                <i class="fa fa-briefcase"></i>&nbsp; ideato
            </a>
        </li>
        <li class="apollo-menu__item">
            <a href="https://vit.to" class="apollo-menu__link">
                <i class="fa fa-coffee"></i>&nbsp; vitto
            </a>
        </li>
    </ul>

    <% site.categories.each(function(category, i){ %>
        <% if (category.posts.length > 0) { %>
            <% if (i == 0) { /* apollo-menu--first */%>
                <ul class="apollo-menu">
            <% } else { %>
                <ul class="apollo-menu">
            <% } %>
                <li class="apollo-menu__title">
                    <%= category.name %>
                </li>
                <% category.posts.each(function(post, i){ %>
                    <li class="apollo-menu__item">
                        <% if (url.replace('index.html', '') == post.permalink) { %>
                            <a href="<%= post.permalink %>" class="apollo-menu__link apollo-menu__link--current">
                        <% } else { %>
                            <a href="<%= post.permalink %>" class="apollo-menu__link">
                        <% } %>
                            <%= post.title %>
                        </a>
                    </li>
                <% }) %>
            </ul>
        <% } %>
    <% }) %>
</nav>
