<div class="apollo-menu-mobile">
    <div>
        <% if (config.header) { %>
            <% if (config.header.link) { %>
                <a href="<%= config.header.link %>" class="apollo-menu-mobile__logo" style="background-image: url(<%= config.url %>/css/theme/assets/<%= config.header.logo %>);"></a>
            <% } else { %>
                <div class="apollo-menu-mobile__logo" style="background-image: url(<%= config.url %>/css/theme/assets/<%= config.header.logo %>);"></div>
            <% } %>
        <% } %>
        <div class="apollo-menu-mobile__title-box">
            <div class="apollo-menu-mobile__category">
                <% if (page.docs !== undefined) { %>
                    <%= page.docs[0].category %>
                <% } else if (page.category !== undefined) { %>
                    <%= page.category %>
                <% } else { %>
                    a-pollo
                <% } %>
            </div>
            <div class="apollo-menu-mobile__title">
                <% if (page.permalink !== undefined) { %>
                    <%= page.title %>
                <% } else { %>
                    <%= config.apollo.version %>
                <% } %>
            </div>
        </div>
        <div class="apollo-menu-mobile__switch"></div>
    </div>
</div>

<nav class="apollo-menu-mobile-nav">
    <%- partial('_partial/menu-list-widgets-categories', { use_margin: false }) %>
    <%- partial('_partial/menu-list-infos', { use_margin: true }) %>
</nav>
