<nav>

    <a href="/" class="apollo-logo apollo-logo--move-top">
        <div class="apollo-logo__icon"></div>
    </a>

    <% var prevCategory = '' %>
    <% site.pages.data = _.sortBy(site.pages.data, 'category') %>
    <% if (site.pages.length > 1) { %>
        <% site.pages.each(function (page, i) { %>
            <% if (page.category !== undefined) { %>
                <% if (prevCategory != page.category) { %>
                    <% if (prevCategory === '') { /* apollo-menu--first */ %>
                        <ul class="apollo-menu">
                    <% } else { %>
                        <ul class="apollo-menu">
                    <% } %>
                    <% prevCategory = page.category %>
                        <li class="apollo-menu__title">
                            <%= page.category %>
                        </li>
                <% } %>
                <li class="apollo-menu__item">
                    <% if (url.replace('index.html', '') == page.permalink) { %>
                        <a href="<%= page.permalink %>" class="apollo-menu__link apollo-menu__link--current">
                    <% } else { %>
                        <a href="<%= page.permalink %>" class="apollo-menu__link">
                    <% } %>
                        <%= page.title %>
                    </a>
                </li>

                <% if (prevCategory != page.category) { %>
                    </ul>
                <% } %>
            <% } %>
        <% }) %>
    <% } %>

    <% if (site.pages.length === 1) { /* apollo-menu--first */ %>
        <ul class="apollo-menu">
    <% } else { %>
        <ul class="apollo-menu">
    <% } %>
        <li class="apollo-menu__title">
            Widgets
        </li>
        <% site.posts.each(function (post, i) { %>
            <li class="apollo-menu__item">
                <% if (url.replace('index.html', '') == post.permalink) { %>
                    <a href="<%= post.permalink %>" class="apollo-menu__link apollo-menu__link--current">
                <% } else { %>
                    <a href="<%= post.permalink %>" class="apollo-menu__link">
                <% } %>
                    <%= post.title %>
                </a>
            </li>
        <% }) %>
    </ul>

</nav>
