<header class="apollo-header">
    <div>
        <a href="https://github.com/vitto/a-pollo#readme" class="apollo-logo">
            <img width="80px" src="<%= config.root %>img/apollo-logo__icon.svg">
            <div class="apollo-logo__text apollo-logo__text--header">a-pollo</div>
        </a>
    </div>
    <div class="apollo-header__left-column">
        <p class="apollo-header__paragraph">
            The visual CSS style guide for teams
        </p>
        <iframe src="https://ghbtns.com/github-btn.html?user=vitto&repo=a-pollo&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
        <iframe src="https://ghbtns.com/github-btn.html?user=vitto&repo=a-pollo&type=fork&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
        <a href="https://twitter.com/share" class="twitter-share-button"{count} data-url="http://vitto.github.io/a-pollo/" data-text="A-pollo - A showcase #style-guide for your #CSS styles" data-via="vttrx" data-hashtags="a-pollo">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
    <div class="apollo-header__right-column">
        <p class="apollo-header__paragraph">
            <a href="https://github.com/vitto/a-pollo#readme" class="apollo-header__link">
                <i class="fa fa-code"></i>
            </a>
            with <i class="fa fa-heart apollo-header__heart"></i>
            by <a href="http://vit.to" class="apollo-header__link">vitto</a>
            @ <a href="http://www.ideato.it" class="apollo-header__link">ideato</a>
        </p>
    </div>
</header>

<nav class="apollo-nav">
    <% site.pages.data = _.sortBy(site.pages.data, 'id') %>
    <% site.pages.each(function (page, i) { %>
        <% if (url.replace('index.html', '') === page.permalink) { %>
            <% if (page.alt_url === undefined) { %>
                <a href="<%= page.permalink %>" class="apollo-nav__button apollo-nav__button--current">
            <% } else { %>
                <a href="<%= page.alt_url %>" class="apollo-nav__button apollo-nav__button--current">
            <% } %>
        <% } else { %>
            <% if (page.alt_url === undefined) { %>
                <a href="<%= page.permalink %>" class="apollo-nav__button">
            <% } else { %>
                <a href="<%= page.alt_url %>" class="apollo-nav__button">
            <% } %>
        <% } %>
            <%= page.title %>
        </a>
    <% }) %>
</nav>

<hr>
