<!DOCTYPE html>
<html>
    <%- partial('_partial/head') %>
    <body class="apollo-body">
        <%- partial('_partial/menu-mobile') %>
        <main class="apollo-website-spacer">
            <div class="apollo">
                <section class="apollo-website__page">
                    <% if (config.is_website) { %>
                        <%- partial('_partial/social-buttons') %>
                    <% } %>
                    <%- body %>
                    <%- partial('_partial/footer') %>
                </section>
            </div>
        </main>
    </body>
</html>
