<!DOCTYPE html>
<html>
    <%- partial('_partial/head') %>
    <body>
        <main class="spacer">
            <div class="apollo">
                <aside class="apollo__aside">
                    <%- partial('_partial/menu') %>
                </aside>
                <section class="apollo__page">
                    <%- body %>
                    <%- partial('_partial/footer') %>
                </section>
                <aside class="apollo__aside">
                    <%- partial('_partial/menu-right') %>
                </aside>
            </div>
        </main>
    </body>
</html>
